<?xml version="1.0" encoding="utf-8" ?>
<?xml-stylesheet href="http://imgs.xkcd.com/s/c40a9f8.css" type="text/css" media="screen" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>xkcd: Mission to Culture</title>
  <link rel="stylesheet" type="text/css" href="http://imgs.xkcd.com/s/c40a9f8.css" media="screen" title="Default" />
  <!--[if IE]><link rel="stylesheet" type="text/css" href="http://imgs.xkcd.com/s/ecbbecc.css" media="screen" title="Default" /><![endif]-->
  <link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="/atom.xml" />
  <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/rss.xml" />
  <link rel="icon" href="http://imgs.xkcd.com/s/919f273.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="http://imgs.xkcd.com/s/919f273.ico" type="image/x-icon" />
 </head>
 <body>
  <div id="container">
   <div id="topContainer">
    <div id="topLeft" class="dialog">
     <div class="hd"><div class="c"></div></div>
     <div class="bd">
      <div class="c">
       <div class="s">
	<ul>
         <li><a href="/archive/">Archive</a><br /></li>
	 <li><a href="http://blag.xkcd.com/">News/Blag</a><br /></li>
         <li><a href="http://store.xkcd.com/">Store</a><br /></li>
         <li><a href="/about/">About</a><br /></li>
         <li><a href="http://forums.xkcd.com/">Forums</a><br /></li>
        </ul>
       </div>
      </div>
     </div>
     <div class="ft"><div class="c"></div></div>
    </div>
    <div id="topRight" class="dialog">
     <div class="hd"><div class="c"></div></div>
     <div class="bd">
      <div class="c">
       <div class="s">
        <div id="topRightContainer">
         <div id="logo">
          <a href="/"><img src="http://imgs.xkcd.com/s/9be30a7.png" alt="xkcd.com logo" height="83" width="185"/></a>
          <h2><br />A webcomic of romance,<br/> sarcasm, math, and language.</h2>
          <div class="clearleft"></div>
          <br />XKCD updates every Monday, Wednesday, and Friday.
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="ft"><div class="c"></div></div>
    </div>
   </div>
   <div id="contentContainer">
    <div id="middleContent" class="dialog">
     <div class="hd"><div class="c"></div></div>
     <div class="bd">
      <div class="c">
       <div class="s">

<h1>Mission to Culture</h1><br/>
<br />
<div class="menuCont">
 <ul>
  <li><a href="/1/">|&lt;</a></li>
  <li><a href="/585/" accesskey="p">&lt; Prev</a></li>
  <li><a href="http://dynamic.xkcd.com/random/comic/" id="rnd_btn_t">Random</a></li>
  <li><a href="/587/" accesskey="n">Next &gt;</a></li>
  <li><a href="/">&gt;|</a></li>
 </ul>
</div>
<br/>
<br/>
<img src="http://imgs.xkcd.com/comics/mission_to_culture.png" title="It can&#39;t be very MUCH money ... they apparently can&#39;t even afford a sampler.  I mean, with a little remixing, some of this could be kinda good!" alt="Mission to Culture" /><br/>
<br/>
<div class="menuCont">
 <ul>
  <li><a href="/1/">|&lt;</a></li>
  <li><a href="/585/" accesskey="p">&lt; Prev</a></li>
  <li><a href="http://dynamic.xkcd.com/random/comic/" id="rnd_btn_b">Random</a></li>
  <li><a href="/587/" accesskey="n">Next &gt;</a></li>
  <li><a href="/">&gt;|</a></li>
 </ul>
</div>
<h3>Permanent link to this comic: http://xkcd.com/586/</h3>
<h3>Image URL (for hotlinking/embedding): http://imgs.xkcd.com/comics/mission_to_culture.png</h3>

<div id="transcript" style="display: none">[[A man is pulling a woman by the legs.  She is holding onto the ground.]]
Man: We&#39;re getting some culture in you if it 
kills
 you.
Woman: Don&#39;t wanna.

[[The man is pushing the woman through a door.]]
Man: All you listen to is techno.
Woman: But... the 
symphony?


[[The couple stand in line between other people.]]
Woman: I think we&#39;re the only people here under 60.
Man: Shhh.

Woman: The right side is definitely better.
Man: Better? 
Woman: They&#39;ve all got bigger instruments. I bet they make more money.
Man: &lt;&lt;Sigh&gt;&gt;

{{Title text: It can&#39;t be very MUCH money ... they apparently can&#39;t even afford a sampler.  I mean, with a little remixing, some of this could be kinda good!}}</div>

      </div>
     </div>
    </div>
    <div class="ft"><div class="c"></div></div>
   </div>
   <div id="middleFooter" class="dialog">
    <div class="hd"><div class="c"></div></div>
    <div class="bd">
     <div class="c">
      <div class="s">
       <img src="http://imgs.xkcd.com/s/a899e84.jpg" width="520" height="100" alt="Selected Comics" usemap="#comicmap" />
       <map name="comicmap">
        <area shape="rect" coords="0,0,100,100" href="/150/" alt="Grownups" />
        <area shape="rect" coords="104,0,204,100" href="/730/" alt="Circuit Diagram" />
        <area shape="rect" coords="208,0,308,100" href="/162/" alt="Angular Momentum" />
        <area shape="rect" coords="312,0,412,100" href="/688/" alt="Self-Description" />
        <area shape="rect" coords="416,0,520,100" href="/556/" alt="Alternative Energy Revolution" />
       </map><br/><br />

Search comic titles and transcripts:<br />
<script type="text/javascript" src="//www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load('search', '1');
  google.setOnLoadCallback(function() {
    google.search.CustomSearchControl.attachAutoCompletion(
      '012652707207066138651:zudjtuwe28q',
      document.getElementById('q'),
      'cse-search-box');
  });
</script>
<form action="//www.google.com/cse" id="cse-search-box">
  <div>
    <input type="hidden" name="cx" value="012652707207066138651:zudjtuwe28q" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" id="q" autocomplete="off" size="31" />
    <input type="submit" name="sa" value="Search" />
  </div>
</form>
<script type="text/javascript" src="//www.google.com/cse/brand?form=cse-search-box&lang=en"></script>

<a href="/rss.xml">RSS Feed</a> - <a href="/atom.xml">Atom Feed</a>
<br />
       <br/>

       <div id="comicLinks">
        Comics I enjoy:<br/>
        <a href="http://www.qwantz.com">Dinosaur Comics</a>,
        <a href="http://www.asofterworld.com">A Softer World</a>,
        <a href="http://pbfcomics.com/">Perry Bible Fellowship</a>,
        <a href="http://www.boltcity.com/copper/">Copper</a>,
        <a href="http://questionablecontent.net/">Questionable Content</a>,
        <a href="http://achewood.com/">Achewood</a>,
        <a href="http://wondermark.com/">Wondermark</a>,
        <a href="http://thisisindexed.com/">Indexed</a>,
        <a href="http://www.buttercupfestival.com/buttercupfestival.htm">Buttercup Festival</a>
       </div>


       <br/>
       Warning: this comic occasionally contains strong language (which may be unsuitable for children), unusual humor (which may be unsuitable for adults), and advanced mathematics (which may be unsuitable for liberal-arts majors).<br/>
       <br/>
       <h4>We did not invent the algorithm.  The algorithm consistently finds Jesus.  The algorithm killed Jeeves. <br />The algorithm is banned in China.  The algorithm is from Jersey. The algorithm constantly finds Jesus.<br />This is not the algorithm.  This is close.</h4><br/>
       <div class="line"></div>
        <br/>
        <div id="licenseText">
         <!-- <a rel="license" href="http://creativecommons.org/licenses/by-nc/2.5/"><img alt="Creative Commons License" style="border:none" src="http://imgs.xkcd.com/static/somerights20.png" /></a><br/> -->
         This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/2.5/">Creative Commons Attribution-NonCommercial 2.5 License</a>.
<!-- <rdf:RDF xmlns="http://web.resource.org/cc/" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dcterms="http://purl.org/dc/terms/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"><Work rdf:about=""><dc:creator>Randall Munroe</dc:creator><dcterms:rightsHolder>Randall Munroe</dcterms:rightsHolder><dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" /><dc:source rdf:resource="http://www.xkcd.com/"/><license rdf:resource="http://creativecommons.org/licenses/by-nc/2.5/" /></Work><License rdf:about="http://creativecommons.org/licenses/by-nc/2.5/"><permits rdf:resource="http://web.resource.org/cc/Reproduction" /><permits rdf:resource="http://web.resource.org/cc/Distribution" /><requires rdf:resource="http://web.resource.org/cc/Notice" /><requires rdf:resource="http://web.resource.org/cc/Attribution" /><prohibits rdf:resource="http://web.resource.org/cc/CommercialUse" /><permits rdf:resource="http://web.resource.org/cc/DerivativeWorks" /></License></rdf:RDF> -->
         <br/>
         This means you're free to copy and share these comics (but not to sell them). <a href="/license.html">More details</a>.<br/>
        </div>
       </div>
      </div>
     </div>
     <div class="ft"><div class="c"></div></div>
    </div>
   </div>
  </div>
 </body>
</html>
 

